/*COLORS

Pink: #D6AABE
Mint: #76A9A2
Mayo: #ECD9AD
Dark Pink: #A26775

**********************************/

/*FONTS*/

@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: "montserratHeavy";
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: "montserratLight";
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: "montserratHairline";
    src: url('../fonts/Montserrat-Hairline.otf');
}

/*GENERAL STYLES*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
}


/*HEADER / NAVIGATION STYLES*/

header {
    background: linear-gradient(rgba(214, 155, 181,.95), rgba(214, 170, 190, 0.95) 40%);
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 2px 2px 4px rgba(30,30,30,.6);
}

.nav-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.logo {
    border-radius: 50%;
    width: 60px;
    margin-top: 4px;
    box-shadow: 0 2px 3px rgba(30,30,30,.7);
    transition: all .4s ease;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobileNavContainer {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.nav li a {
    display: block;
    padding: 15px 1em;
    text-decoration: none;
    color: #fff;
    font-family: montserrat, "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#menu {
    display: none;
}

#i-nav {
    display: inline-block;
    content: "";
    width: 2em;
    height: 2em;
    border-radius: 2px;
    background: rgba(255,255,255,0) url('../img/menu.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 1.01em;
    right: 0px;
}

/*HERO STYLES*/

.hero{
    background: #eee url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 30vh 0px;
    height: 100vh;
    text-align: center;
    transition: all 1s ease;
}
.hero-headline {
    font-family: montserratHeavy, sans-serif;
    margin: 0;
    font-size: 3.25em;
    line-height: .9;
    text-shadow: 2px 2px 3px rgba(0,0,0,.8);
}

.hero-tagline {
    text-shadow: 2px 2px 3px rgba(0,0,0,.8);
    margin: 1em 0;
    text-transform: uppercase;
    font-family: montserratLight;
    letter-spacing: 1.20px;
}

.btn {
    font-family: "montserratHeavy", sans-serif;
    font-size: .75em;
    text-shadow: 0 .5px 1px rgba(40,40,40,.7);
    letter-spacing: 1.1px;
}

.hero a {
    display: inline-block;
/*    border: 1px solid #fff;*/
    text-shadow: 2px 2px 3px rgba(0,0,0,.8);

}

.hero-btn {
    background: #76A9A2;
    transition: all .4s ease;
}
.btn {
    cursor: pointer;
    padding: 1.25em;
    border: none;
    color: #fff;
    border-radius: 2px;  
    box-shadow: 0 2px 4px rgba(30,30,30,.6);
    width: %;
}

/*

GALLERY STYLES (BOTH INDEX & GALLERY PAGES)

*/

.galleryIndex {
    background-image: linear-gradient(rgba(255,255,255,0) 0%, #76a9A2), url('../img/hero.jpg');
    background-size: cover;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.galleryIndex h2 {
    font-size: 1.85em;
    font-family: 'montserratHeavy', sans-serif;
    text-shadow: 0 2px 3px rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}

.galleryIndex p {
    font-family: 'montserratLight', sans-serif;
    
}

.gallery-index-btn {
    background: #D6AABE;
}


/*HOMEPAGE MAIN CONTENT STYLES*/

.main-content {
    background: #222;
    color: #fff;
    padding: 40px 0    ;
}

.main-content h2{
    font-size: 1.85em;
/*    margin-top: 0;*/
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: 'montserratHeavy', helvetica, arial, sans-serif;
}

.about-avatar {
    border-radius: 50%;
    background: #444;
    margin: 20px 0;
}

.main-content p {
    font-family: 'montserratLight', helvetica, arial, sans-serif;
    font-size: 1em;
    
}

.index-about h2,
.index-about p{
    margin:0;
}

/*HOMEPAGE SECONDARY CONTENT STYLES*/
.secondary-content {
    padding: 2em 0;
    color: #222;
    background: #ecf0f1;
}

.col {
/*    background: dodgerblue;*/
    text-align: center;
    margin-top: 40px;
}

.col-header {
    font-family: montserrat, "Helvetica", "Arial", sans-serif;
    margin:0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.col-hr {
    background: none;
    border: none;
    width: 40%;
    border-bottom: 2px solid #76A9A2;
    padding: 0;
}

.col-copy {
    font-family: montserratLight, "Helvetica", "Arial", sans-serif;
    margin-top: 0;
    font-size: 1.1em;
}

.icon {
    width: 90px;
    margin-bottom: 12px;
    max-width: 100px;
    position: relative;
    
}




/*FOOTER STYLES
**************************************/

footer {
    background: #222 url();
    padding: 50px 0 20px;
    color: #fff;
    
}
